flex($direction = "column", $justify = "space-around", $align = "center")
	display -webkit-flex
	flex-direction $direction
	-webkit-flex-direction $direction
	
	justify-content $justify
	-webkit-justify-content $justify

	align-items $align
	-webkit-align-items $align