scroll(color = $black)
	&::-webkit-scrollbar
			width 6px
	 
	&::-webkit-scrollbar-track
		width 6px
		border-radius 8px
		background-color $scroll-text-scrollbar-track-grey
	 
	&::-webkit-scrollbar-thumb
		background-color color
		border-radius 8px