shadow($strength = 30px, $color = #000, $inset = null)
	-webkit-box-shadow $inset 0px 0px $strength 0px rgba($color ,0.5)
	-moz-box-shadow $inset 0px 0px $strength 0px rgba($color ,0.5)
	box-shadow $inset 0px 0px $strength 0px rgba($color ,0.5)