$red = #EB5858
$red-hover = #E64A4A
$green = #63DBC1
$blue = #319BF5
$orange = #FF9B37
$yellow = #FFA20A
$black = #28313B
$light-black =  #1E242C
$black-secondary = #4A4A4A
$black-tertiary = #161616
$black-quaternary = #666
$dark-grey = #97A4B1
$dark-grey-transparent = rgba(151,164,177, 0.7)
$button-grey = #D3D3D3
$mid-grey = #DDDDDD
$light-grey = #E8EEF4
$border-grey = #E7E7E7
$error = #D0011B //vermelho
$warning = #FFA20A //amarelo
$notification = #319BF5 //azul
$scroll-text-grey = #939393
$scroll-text-scrollbar-track-grey = #D6D6D6
$text-color = #393939
$text-color-ligth = #E5E5E5

$whatsapp-green = #1FA777
$messenger-blue = #0084FF