@import "../../stylesheets/settings/colors"

svg.icon
	width 30px
	height 30px
	fill $black
	stroke $black
// 	&.-red
// 		fill $red
// 		stroke $red
// 	&.-blue
// 		fill $blue
// 		stroke $blue
// 	&.-yellow
// 		fill $yellow
// 		stroke $yellow
// 	&.-dark-grey
// 		fill $dark-grey
// 		stroke $dark-grey
// 	&.-light-grey
// 		fill $light-grey
// 		stroke $light-grey
// 	&.-white
// 		fill white
// 		stroke white
// 	&.-light
// 		fill transparent
// 		stroke-width 15px
	&.-pointer
		cursor pointer